RewriteEngine On

# Route every request to index.php (the front controller), unless it's a real file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
